body {
	margin: 0;
	min-width: 1200px;
	font-family: "Roboto", "Arial""sans-serif;";
	font-weight: normal;
	font-size: 16px;
	line-height: 27px;
	color: #444240;
}

/* * {
	outline: 1px solid black;
} */

.main-header {
	padding-top: 35px;
	padding-bottom: 25px;

}

.main-header-nav {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.main-header-logo {}

.site-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	margin-left: auto;
	width: 490px;
	flex-wrap: wrap;
}

.site-navigation-item {
	margin-right: 55px;
}

.link-item {
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #555248;
}

.user-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	margin-left: auto;
	width: 230px;
	flex-wrap: wrap;
}

.user-navigation-item {
	margin-left: 20px;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0px;
	height: 10px;
	width: 10px;
	overflow: hidden;
}

.promo {
	padding-bottom: 10px;
	background-color: #fdfdfb;
	display: flex;
}

.promo-wrapper {
	display: flex;
}

.promo-text-column {
	width: 440px;
}

.promo-title {}

.promo-text {}

.dark-button {
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	padding: 20px;
	letter-spacing: 0.05em;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #444240;

}

.promo-img-column {
	width: 730px;
	display: flex;
}

.promo-price {
	align-self: flex-start;
	line-height: 22px;
	color: #1b1a17;
}

.promo-img {
	align-self: center;

}

.promo-description {
	align-self: flex-end;
}

.bestsellers {
	padding-bottom: 165px;
}

.bestsellers-header {
	display: flex;
	justify-content: center;

}

.section-title {
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-size: 32px;
	line-height: 43px;
	color: #1b1a17;
	margin-left: auto;
}
.section-title1 {
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-size: 32px;
	line-height: 43px;
	color: #1b1a17;
	text-align: center;
	
}

.show-more {
	margin-left: auto;
	font-weight: 500px;
	font-size: 16px;
	line-height: 19px;
	color: #444240;
}

.catalog-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	margin-right: -30px;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	width: 370px;

}

.catalog-item-title {}

.catalog-item-link {
	font-family: "Playfair Display",arial,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: rgba(27,26,23,0.82);
	text-decoration: none;
	text-transform: uppercase;
}

.catalog-item-price {
	font-family: "Playfair Display",arial,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: rgba(27,26,23,0.82);
}

.catalog-item-img {}

.ling-details {
	font-family: "Playfair Display",arial,sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 21px;
	font-size: 16px;
	color: #1b1a17;
	text-decoration: none;
	margin-top: auto;

}

.baner {
	display: flex;
	padding-bottom: 65px;
}

.baner-img-column {
	width: 600px;
}

.gallery-button {}

.banner-text-column {
	width: 570px;
}

.light-button {
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	padding: 20px;
	letter-spacing: 0.05em;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #d4b098;
}

.new {}

.news-wraper {
	display: flex;

}

.news-text-colum {
	width: 570px;
}

.social {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	width: 400px;
}

.social-item {
	margin-right: 10px;
}

.social-item-link {}

.news-img-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 560px;
	margin-right: -10px;
}

.news-img {
	margin-bottom: 10px;
	margin-right: 10px;
}

.main-footer {
	padding: top;
	padding-bottom: 65px;
	background-color: #444240;
}

.mein-footer-wraper {
	display: flex;
}

.footer-column {
	width: 240px;
	margin-left: 80px;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	
}

.mein-foter-logo {
	margin-bottom: 15px;


}

.mein-footer {}

.lings {
	padding: 0;
	margin: 0;
	display: flex;
}



.mein-footer-link {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 14px;
	color: rgba(255,255,255,0.75);
	text-decoration: none;

}

.promo-title {
	font-size: 30px;
	line-height: 40px;
	color: #0f0e0b;
	display: flex;
	flex-direction: column;
}

.promo-title span {
	font-size: 40px;
	line-height: 60px;
	order: -1;
}

.social-item:last-child {
	margin-right: 0;
}
.lings div{
	display: flex;
	flex-direction: column;
	width: 240px;
}
.links dt{
	padding: 0;
	margin: 15px 0 20px 0;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #fff;

}
.links dd{
	padding: 0;
	margin: 0;

}
.link-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.similar{
	padding-bottom: 80px;
}
.similar-title{
	font-family: "Playfair Display",arial,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-style: 32px;
	line-height: 43;
	color:#1b1a17;
}
.card{
	margin-top: 50px;
	padding-bottom: 50px;

}
.card-wrapper{
display: flex;
justify-content: flex-start;
}
.card-photos-column{
	width: 570px;
	margin-right: 30px;

	}
.card-description-column{
	width: 570px;
	background-color: #fdfdfd;
	
	
	}
.card-description-wrapper{
	width: 570px;
	background-color: #fdfdfd;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;	
}
.card-photo-preview{
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-right: -15px;
}
.card-photo-preview-item{
	width: 127px;
	height: 121px;
	margin-right: 15px;
	margin-top: 20px;
	background-color: rgba(100, 100, 100, 0.15);
}
.card-photo-full{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
.bookmark-list{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}




.awtor1{
	width: 600px;
	height: 250px;
	margin-bottom: 200px;
	margin-left: 40px;
	
	
}
.awtor1_img{
	width: 200px;
	height: 250px;
    float: left;
	margin-right: 4px;
	border-radius: 20px;
}
.awtor2{
	width: 600px;
	height: 250px;
	margin-bottom: 70px;
	position: absolute;
	left: 700px;
	top: 260px;
	
	
}
.awtor11_img{
	width: 200px;
	height: 250px;
    float: right;
	border-radius: 20px;
}
.linia{
	width: 2px;
	height: 300px;
	background: #464443;
	position: absolute;
	left: 670px;
	top: 135px;
}
ul {
	list-style-type: none;
	overflow:hidden;
  }
  
  .color-tem {
	/* width: 50px;
	height: 50px;
	border: 3px solid black;
	border-radius: 50px;
	float: left;
	margin-right: 20px;
	text-decoration:none ; */
  }
  
  #yellow {
	background-color: yellow;
  }
  
  #red {
	background-color: red;
  }
  
  #blue {
	background-color: blue;
  }
  
  #green {
	background-color: rgb(255, 255, 255);
  }













 
 .slider {
	width: 400px;
	height: 370px;
	overflow: hidden;
	margin-bottom: 40px;
 }
 
 .middle {
	position: absolute;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
 }
 
 .navigation {
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
 }
 
 .bar {
	width: 30px;
	height: 8px;
	margin: 6px;
	cursor: pointer;
	background-color: #000;
	opacity: .5;
	border-radius: 10px;
	transition: all 0.4s ease;
 }
 
 .bar:hover {
	opacity: 1;
	transform:scale(1.1);
 }
 
 input[name="r"] {
	position: absolute;
	visibility: hidden;
 }
 
 .slides {
	width: 400%;
	height: 100%;
	display: flex;
 }
 
 .slide {
	width: 25%;
	transition: all 0.6s ease;
 }
 
 .img {
	width: 100%;
	height: 100%;
 }
 
 #r1:checked ~ .s1 {
	margin-left: 0;
 }
 
 #r2:checked ~ .s1 {
	margin-left: -25%;
 }
 
 #r3:checked ~ .s1 {
	margin-left: -50%;
 }
 
 #r4:checked ~ .s1 {
	margin-left: -75%;
 }
 
 

